.hashtag {
	&:hover {
		background-color: rgb(238, 235, 235);
		cursor: pointer;
	}
}

.hashtag-sidebar {
	background-color: rgb(245, 240, 240);

	.item:hover {
		background-color: rgb(223, 217, 217);
		cursor: pointer;
	}
}