.tweet {
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;

  &:hover {
    background-color: rgb(238, 235, 235);
    cursor: pointer;
  }

  .action-links {
    a {
      span {
        position: relative;
        top: 2px;
      }
    }

    .views, .replies, .bookmark {
      &:hover {
        color: #499be9 !important;
      }
    }

    .retweets {
      &:hover {
        color: #6cf350 !important;
      } 
    }

    .likes {
      &:hover {
        color: #f33f3f !important;
      }
    }
  }
}